<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[[PAGE TITLE]]</title>
    <link rel="stylesheet" href="/pages/projects.css" />
    <!-- <link rel="icon" href="../../assets/img/favicon.ico" type="image/x-icon"> -->
  </head>
  <body>
    <div class="content-wrapper">
        <img class="teaser" src="thumbnail.jpg" />
      <section class="margin-section">
      <div class="header">
        <span class="project-title">[[PROJECT TITLE]]</span>
        <!-- <span class="project-subtitle"> [[PROJECT SUBTITLE]] </span> -->
        <span class="author-names">[[DATE]]</span>

      </div>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        laboriosam voluptate quia id repellat tenetur, consectetur repudiandae,
        laudantium fuga corrupti debitis aspernatur tempora minus sit mollitia
        perspiciatis assumenda. Aut omnis saepe nemo expedita ipsa sunt ex
        facere sint quisquam! Fugit quos eaque doloremque impedit optio nostrum.
        Nulla quis quae expedita, beatae, accusamus et excepturi necessitatibus,
        at quas laboriosam sequi possimus sed cum illum quia? Iure ad,
        asperiores at vitae nulla vel repellendus, possimus eum quia numquam
        ipsum suscipit, nostrum similique eius autem aliquam facilis
        exercitationem deleniti! Tenetur, ut nobis, optio nesciunt quod unde
        facere qui est, sequi dolorum atque ullam quisquam architecto! Corrupti
        excepturi quod veritatis doloribus repudiandae provident fugiat
        reiciendis exercitationem. Commodi alias odit voluptates suscipit, et
        inventore officiis nesciunt vel iure, nulla nemo aperiam? Velit
        consequatur molestiae nihil facilis ea incidunt nobis alias sed
        explicabo magni, mollitia delectus fugit blanditiis tempore earum. At
        necessitatibus laborum molestias sed consequuntur.
      </p>
      <h3 class="section-title">Note</h3>
      <small>
        some note
      </small>
    
    <iframe
      class="video-iframe"
      src="https://www.youtube.com/embed/M64voQEIY9k?si=ndwh5cFSXuFxjzSN"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>

  
    
    <h3 class="section-title">random</h3>
<div class="container row-padding" id="random-projects">
  <!-- Projects will be inserted here by JavaScript -->
</div>

<!-- <script src="../../../randomize.js"></script> -->
<script type="module" src="/js/randomize.js"></script>

</section>

<!-- Footer -->
    <footer class="center padding-32">
      <a class="black" href="/main.html">back to home</a>

    </footer>

</body>

</html>